@charset "UTF-8";
/*0314 css 변경부분
하단부분 , 검색창
.side_list , .slid_footer */

/*reset side시작*/
*{
   margin: 0;
   padding: 0;
} 


/*검색창*/
.search_menu {
  position: relative;
  margin-bottom: 10px;
}

.search_menu input[type="text"] {
  padding-right: 80px;
  width: 190px;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fffaf2;
  border: 1px solid #ccc;
  /* color: #777;
  padding: 6px;*/
}

.search_menu .material-icons {
  position: absolute;
  font-size: 18px;
  right:68px;
  top: 50%;
  transform: translateY(-50%);
}
/*검색창끝*/

/*1.사이드바*/
#leftbar{
   width:310px;
   position:fixed;
   padding:30px;
   box-sizing:border-box;
   background-color:#f4efe1;
   height:100%;
}

/*목록 hover시 보이는부분*/
.side_wrap .sub_menu {
   display: none;
   list-style: none;
   }

.menu_cell:hover .sub_menu {
  display: block;
  }

.menu_group {
display: flex;
min-height:60px;/*높이조절하는부분*/
   overflow: auto;

}
/*단어간 높이조절*/
.menu_group a{line-height: 2;}
.menu_cell a{ line-height: 2;}
.logo {padding-bottom: 20px;}

/*글씨색상 */
.menu_wrap  a {
  color: black; 
  text-decoration: none; /* 밑줄 제거 */
  }
.menu_wrap  a:visited {
  color: black; /* 방문한 링크 색상 */
}
.menu_wrap  a:hover {
  color: #8b8477; 
  text-decoration: none; 
}     


/*리스트 위치 조절*/
.side_list {
   display: flex;
   min-height: 210px;
   overflow: auto;
}

.side_wrap {
   flex: 1;
}

.slid_footer{   
/*   bottom:80px; */
  width: 100%;
  }
  

   
   
   
/*전체틀 조정 min-height: 100%;  
relative static
absolute
fixed
sticky*/
 #container{
    position: absolute;   
    margin-left:310px;
     min-height: 80%;  
    padding-left:5%;
   padding-right:5%;   
   
  }
  
 .conent {   
    position: initial;   
   width:100%; 
   /* min-height: 100%;  */
}

 .conent_slider {
   margin:0px auto;   
   background-color: #f4efe1; height: 30%;
}

 .conent_list {   
   margin:0px auto;   
   width:100%;    
   height: 100%;   
   padding-top:10%;
}

/*3.슬라이더부분 slideshow-container*/

.slider{
    width:100%;
    height:100%;
}

.m_slide{
  width:100%;
  margin:0px auto;
  position:relative;
  transition: margin-left 0.5s;
}
.m_slide> ul{
  /* width:6400px; */
  width:400%;
  display:flex;
}
.m_slide > ul > li{width:100%;}
.m_slide img{width:100%;}  /* 이미지 크기 자동조절 */


/*btn*/
 .slide-btns > div >button{
  position:absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  opacity:0.5;
  border-radius:50px;
  font-size:25px;
  cursor:pointer;
  padding: 10px 10px;
}

.slide-btns > div >button#btnNext {
  top:50%;
  left:auto;
  right:40px;
}
.slide-btns > div > button#btnPrev{
  top:50%;
  left:30px;
  transform:translatey(-50%);
}

.slideshow-container {
  width: 100%;
  overflow: hidden;
}
.slider-wrapper {
    overflow: hidden;
}


/*4.conent_list*/

/*이미지설정*/
.warp {
   min-width: 250px; /* 이미지의 최소 너비 */
     min-height: 250px; /* 이미지의 최소 높이 */
}

.warp> img {   
   margin-top: 10px; 
   margin-bottom: 10px; 
   border: 3px solid #90827a;
   
   position: relative;
   cursor: pointer;
   transition:0.5s ease;
   overflow: hidden;
   background-color: #90827a !important;
   
}

.warp:hover .text{
  opacity: 1.0;
}
.warp:hover .img{
  opacity: 0.7;
} 


.text{
   /* font-family: 'S-CoreDream-3Light';
   font-size: 12px;*/
   position: absolute;
   padding: 5px 10px;
   text-align: center;
   top: 50%;
   left: 50%;
   transform: translate( -50%, -50% );   
   transition: .5s ease;  
   opacity: 0;
   color:black;
   z-index:50;
   
} 


/* 5.하단부분    */
/*ft->메인페이지 하단조절*/
.ftsizeout{
    width: 100%;
    position: absolute;
    padding-top: 5%;  
    padding-right: 15%; 
    position: absolute;
}
.ftsizein{
   padding-top: 5%;  
    padding-right: 15%; 
    position: absolute;
    width:100%;
}



