@charset "UTF-8";

.font-face {
	font-family: 'S-CoreDream-3Light';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

.body {
	font-family: 'S-CoreDream-3Light';
}

.leftbar {
	width: 310px;
	position: fixed;
	left: 0;
	top: 0;
	padding: 30px;
	box-sizing: border-box;
	z-index: 98;
	letter-spacing: 0.5px;
	background-color: #f4efe1;
	height: 100%;
}
/*사이드바 풋터*/
.footer {
	bottom: 0;
	padding-top: 40%;
}
/*진짜 풋터*/
.wish_list_code_footerdiv {
	text-align: center;
	width: 100%;
	top: 90%;
	margin-left: 180px;
	position: fixed;
	bottom: 80px;
}
/*테이블표*/
.wish_list_code_main {
	width: 68%;
	margin-left: 400px;
	position: absolute;
	top: 20%;
}

/* 관심상품 밑 주문하기 삭제 장바구니담기 */
.wish_list_code_contents {
	margin-left: 1055px;
	position: fixed;
	top: 50%;
}
/* 제목 */
.wish_list_code_title {
	margin-left: 400px;
	top: 100px;
	position: absolute;
}